<p id="notice"><%= notice %></p>

<p>
  <strong>Prefix:</strong>
  <%= @cornellsubject.prefix %>
</p>

<%= link_to 'Edit', edit_cornellsubject_path(@cornellsubject) %> |
<%= link_to 'Back', cornellsubjects_path %>
