<div class="panel panel-danger">
  <div class="panel-heading">Known beta-version bugs:</div>
  <div class="panel-body">
    <ol>
    	<li><em>We currently only support Fall courses</em></li>
    	<li>Navbar search doesn't work on pages run by other controllers</li>
    	<li>Rating a class that occurs on multiple semesters creates multiple ratings in each semester</li>
    </ol>
  </div>
</div>