<div class="panel panel-danger">
  <div class="panel-heading">Known beta-version bugs:</div>
  <div class="panel-body">
    <ol>
    	<li>Navbar search doesn't work on pages run by other controllers</li>
    </ol>
  </div>
</div>