<div class="panel panel-danger">
  <div class="panel-heading">Known beta-version bugs:</div>
  <div class="panel-body">
    <ol>
    	<li>Navbar search doesn't work on pages run by other controllers</li>
    	<li>Height of dashboard well is different if there aren't 5 classes for each category</li>
    	<li>Rating a class that occurs on multiple semesters creates multiple ratings in each semester</li>
    </ol>
  </div>
</div>