<div class="panel-group" id="accordion2" role="tablist">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseFour" >
          <h4>Quality</h4>
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel">
      <div class="panel-body">
      	<p>
      		A higher rating indicates higher quality in that aspect of a class.  For instance, a high lecture quality rating indicates that previous raters have found it worthwhile and useful to go to lecture for that particular class.
      	</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
          <h4>Difficulty</h4>
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
      	<p>
      		A higher difficulty rating indicates that a particular aspect of a class was more difficult.
      	</p>
      	<p>
      		For instance, a final exam difficulty rating of 4.5/5.0 indicates that the exam was very difficult, whereas a rating of 1.0/5.0 indicates an easier exam.
      	</p>
      </div>
    </div>
  </div>  
</div>