<h1 class="center">Questions?  We've got answers.</h1>
<hr>
<h2>How we represent our data-</h2>
	<%= render 'pages/datarepresentation' %>
<hr>

<h2>About our metrics-</h2>
	<%= render 'pages/datarepresentation' %>
