<div class="jumbotron center">
	<h1>Welcome to Pearl!</h1>
	<h1>We're glad that you're here.</h1>
	<p>Please feel free to look around our as of yet uncreated content.</p>

	<% if user_signed_in? %>
		<p>
			Welcome to Pearl.
		</p>
	<% else %>
		<p>
		 <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
		 <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>
	<% end %>  

</div>