<div>
	<p>
		This is the new screener page.  It's compiled by rails into a full html page.  Its header and stuff is in views/layouts/application.html.erb but you shouldn't need to change anything in there.
	</p>
	Here are some more resources:
	<ul>
		<li><a href="http://getbootstrap.com/">Bootstrap</a></li>
		<li><a href="https://jqueryui.com/slider/">jQuery UI Sliders</a></li>
		<li><a href="https://www.google.com/finance#stockscreener">Google Stock Screener</a></li>
	</ul>
	<p>
		Location of this page in app:
		app/views/pages/screener.html.erb
	</p>
	<p>
		Location of this page's controller:
		app/controllers/pages_controller.rb
		->def screener
	</p>
	<p>
		Location of this page's CSS:
		app/assets/stylesheets/screener.css.scss
		<br>
		(Yes, you can use SASS if you want!)
	</p>
	<p>
		Location of this page's javascript:
		app/assets/javascripts/screener.js
		<br>
		(If you want to mess around with some coffeescript, let me know.)
	</p>
</div>

<div>

	<!-- Start here -->
<div class="progress">
  <div class="progress-bar" role="progressbar progress-bar-warning" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    <span class="sr-only">60% Complete</span>
  </div>
</div>	

<div class="progress2">
	<input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
	<div class="slider"></div>
	<br><br>
	<select name="rate" id="rate">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
	</select>
</div>