<div>
	<p>
		This is the new screener page.  It's compiled by rails into a full html page.  Its header and stuff is in views/layouts/application.html.erb but you shouldn't need to change anything in there.
	</p>
	Here are some more resources:
	<ul>
		<li><a href="http://getbootstrap.com/">Bootstrap</a></li>
		<li><a href="https://jqueryui.com/slider/">jQuery UI Sliders</a></li>
		<li><a href="https://www.google.com/finance#stockscreener">Google Stock Screener</a></li>
	</ul>
	<p>
		Location of this page in app:
		app/views/pages/screener.html.erb
	</p>
	<p>
		Location of this page's controller:
		app/controllers/pages_controller.rb
		->def screener
	</p>
	<p>
		Location of this page's CSS:
		app/assets/stylesheets/screener.css.scss
		<br>
		(Yes, you can use SASS if you want!)
	</p>
	<p>
		Location of this page's javascript:
		app/assets/javascripts/screener.js
		<br>
		(If you want to mess around with some coffeescript, let me know.)
	</p>
</div>

<div>
	<!-- Start here -->
</div>