<!-- Grid system -->
<div class="container">
	<div class="row">

	  <div class="col-sx-12 col-sm-4 col-md-3">
	  	<div class="well well-sm center">
				<h2>Hi!  I'm Charlie.</h2>
				<h4>Project Lead</h4>
				<!-- <h3>Co-Founder &amp; CEO</h3> -->
				<hr>
				<div>
					<p>
						<em><q>Life is either a daring adventure or nothing at all.</q></em> - Helen Keller
					</p>
				</div>
				<hr>
				<p>
					<a href="mailto:xucharliey@gmail.com">
				  	<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
			  	</a>
			  	<a href="http://cyx2.github.io/">
				  	<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
			  	</a>
			  </p>
			</div>
		</div>

	  <div class="col-sx-12 col-sm-4 col-md-3">
	  	<div class="well well-sm center">
				<h2>Hey!  I'm Alex.</h2>
				<h4>Front-End Development Lead</h4>
				<hr>
				<div>
					<p>
						<em><q>I really like to lift heavy things in my spare time.</q></em> - Guo Liow
					</p>
				</div>
				<hr>
				<p>
					<a href="#">
				  	<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
			  	</a>
			  	<a href="#">
				  	<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
			  	</a>
			  </p>
			</div>
	  </div>

	  <div class="col-sx-12 col-sm-4 col-md-3">
	  	<div class="well well-sm center">
				<h2>Hello!  I'm Linda.</h2>
				<h4>Back-End Development Lead</h4>
				<hr>
				<div>
					<p>Munchkin...?</p>
				</div>
				<hr>
				<p>
					<a href="#">
				  	<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
			  	</a>
			  	<a href="#">
				  	<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
			  	</a>
			  </p>
			</div>
	  </div>

	  <div class="col-sx-12 col-sm-4 col-md-3">
	  	<div class="well well-sm center">
				<h2>Woof!  I'm Carol.</h2>
				<h4>Operations Lead</h4>
				<hr>
				<div>
					<p>Doge.</p>
				</div>
				<hr>
				<p>
					<a href="#">
				  	<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
			  	</a>
			  	<a href="#">
				  	<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
			  	</a>
			  </p>
			</div>
		</div>

		<div class="col-sx-12 col-sm-4 col-md-3">
	  	<div class="well well-sm center">
				<h2>Yo!  I'm Jonathan.</h2>
				<h4>Back-End Development Intern</h4>
				<hr>
				<div>
					<p>
						<em><q>Seize the moment.  Remember all those people on the Titanic who waved off the dessert cart.</q></em> - Erma Bombeck
					</p>
				</div>
				<hr>
			<p>
					<a href="#">
				  	<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
			  	</a>
			  	<a href="#">
				  	<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
			  	</a>
			  </p>
			</div>
		</div>

	</div>
</div>