<!-- Grid system -->
<div class="container">
	<div class="row">
	  <div class="col-xs-12 col-sm-12">
	  	<div class="well well-sm center">
				<h2>Hi!  I'm Charlie.</h2>
				<h4>Project Lead</h4>
				<!-- <h3>Co-Founder &amp; CEO</h3> -->
				<hr>
				<div>
					<p>I'm also an Undergraduate Researcher at the Jonathan Butcher Laboratory, where I manage a subproject in 3D Printing of Bioengineered Heart Valves.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">

	  <div class="col-sm-4">
	  	<div class="well well-sm center">
				<h2>Hey!  I'm Alex.</h2>
				<h4>Front-End Development Lead</h4>
				<hr>
				<div>
					<p>I really like to lift heavy things in my spare time.</p>
				</div>
			</div>
	  </div>

	  <div class="col-sm-4">
	  	<div class="well well-sm center">
				<h2>Hello!  I'm Linda.</h2>
				<h4>Back-End Development Lead</h4>
				<hr>
				<div>
					<p>Munchkin...?</p>
				</div>
			</div>
	  </div>

	  <div class="col-sm-4"><div class="well well-sm center">
				<h2>Woof!  I'm Carol.</h2>
				<h4>Operations Lead</h4>
				<hr>
				<div>
					<p>Doge.</p>
				</div>
			</div>
		</div>

	</div>
</div>