.homelogin-create {
	float: right;
}

.homelogin-title {
	float: left;
}

.homelogin-remember {
	float: left;
}

.homelogin-login {
	float: right;
}

#homelogin-grid {
	
	opacity: 0.1;
}

#homelogin-graphic {
	width: 75%;
  height: auto;
  margin: 15% 0 0 10%;
}

#homelogin {
	margin-top: 15%;

}

#homelogin {
	margin-left: auto;
	margin-right: auto;
}

#wrapper{
	padding-top: 10%;
	padding-bottom: 10%;
}

#box-2a{
	padding-top: 12%;
}

#box-2a p{
	font-size: 1.8em;
	line-height: 1.2em;
}

#box-2b{
}

#homelogin-sitePreview{
	width: 100%;
	height: auto;
	float: right;
}


#footer{
	text-align: center;
}




