.homelogin-create {
	float: right;
}

.homelogin-title {
	float: left;
}

.homelogin-remember {
	float: left;
}

.homelogin-login {
	float: right;
}

#homelogin-grid {
	margin-top: 15%;
	width: 100%;
	opacity: 0.1;
}

.homelogin-graphic {
	opacity: 0.75;
}

#homelogin {
	margin-left: auto;
	margin-right: auto;
}
