/*@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
*/
$body-bg: #ecf0f1;
$font-family-sans-serif: 'Helvetica';

$navbar-default-bg: white;
$navbar-default-link-color: #3498db;
$navbar-default-link-hover-color: #f39c12;

$brand-primary: #3498db;
$jumbotron-bg: #bdc3c7;
$btn-default-color: #3498db;

@import "bootstrap-sprockets";
@import "bootstrap";

// For Cornellclasses page
.progress-bar-rating{
  background-color: #4abff0;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.dropdown-menu > li > a {
  color: #3498db;
  text-decoration: none;
  &:visited {
    /* color: #3498db; */
    text-decoration: none;
  }
  &:hover {
    color: #f39c12;   
    text-decoration: none; 
  }
}