

$bar_width : 45%;

.progress, .progress2 {
  max-width: $bar_width;
}

.progress2 {
  margin-bottom: 10%;
}

$w : 1.0em;
$h : 1.7em;
$h_slide : 1.3em;

.ui-slider .ui-slider-handle {
  width: $w !important; 
  height: $h !important;
  margin-top : ($h - $h_slide) / 4;
} 

$shadow : 0.1;
$grey : #f6f6f6;
$slide_color : #99ccff;
$blur : 0.05em;
$spread : 0.025em;

.ui-slider {
  background : $grey !important;
  border: none !important;
  height: 1.3em !important;
  // offset x, y, blur-radius, spread-radius
  -webkit-box-shadow: inset 0 1.5px $blur $spread rgba(0,0,0,$shadow);
  -moz-box-shadow: inset 0 1.5px $blur $spread rgba(0,0,0,$shadow);
  box-shadow: inset 0 1.5px $blur $spread rgba(0,0,0,$shadow);
}

$range_shadow : #6699ff;
$x_off : 0;

.slider .ui-slider-range {
  background: $slide_color; 
  border-width: 1px;
  -webkit-box-shadow:  $x_off 0.5px 0px 0.5px $range_shadow;
  -moz-box-shadow:  $x_off 0.5px 0px 0.5px $range_shadow;
  box-shadow:  $x_off 0.5px 0px 0.5px $range_shadow;
}
